<html>
<head>
<title><%= @subject %></title>
  <style>
    body { background-color: white;
	    font-family: arial;
	  }
    h1 { color: #60BB46; }
  </style>
</head>
<body>
<h1>Thank you volunteers! April 24th is our big day and coming fast.</h1>
<img src="http://rebuildingtogetherportland.org/images/RT_2Clogo_stacked_small.jpg" alt="Rebuilding Together Portland" style="float:right;" />
<p>
Dear <%=h @first %>,
</p><p>  
Thank you so much for volunteering with Rebuilding Together Portland - it's the participation of community members like you
that really makes our project a success. We're just now wrapping up the house selection process, and you can expect
more information on your assigned project coming in the next few weeks as we approach the big day. 
</p><p>
We'll be closing volunteer registration in the next few days... if someone you know wants to participate but has not signed up yet,
be sure to send them online to sign up at our website <a href="http://www.RebuildingTogetherPortland.org">www.RebuildingTogetherPortland.org</a> right away.
</p>
<p>
Of course, if you have any questions, feel free to get in touch directly using my contact information below. 
</p>
<p>&mdash; Mike</p>
<p style="color: #60BB46;">
<strong>Mike Malone</strong><BR />
Executive Director <BR />
Rebuilding Together - Portland <BR />
5000 N. Willamette Blvd. <BR />
Portland, OR 97203 <BR />
 503-943-7515  office <BR /> 
 503-943 7322  fax  <BR />
MikeMalone@RebuildingTogetherPortland.org <BR />
www.rebuildingtogetherportland.org<BR />
</p>
<small>This email sent to <%= @email %>. To opt out of all future communications from Rebuilding Together Portland, <a href="http://www.rebuildingtogetherportland.org/contacts/optout">click here</a>.
</body></html>
