<html>
<head>
<title><%= @subject %></title>
  <style>
    body { background-color: white;
	    font-family: arial;
	  }
    h1 { color: #60BB46; }
  </style>
</head>
<body>
<h1>Call for Volunteers! April 24th is our big day!</h1>
<img src="http://rebuildingtogetherportland.org/images/RT_2Clogo_stacked_small.jpg" alt="Rebuilding Together Portland" style="float:right;" />
<p>
Dear <%=h @first %>,
</p><p>  
This year, Rebuilding Together-Portland's goal is to repair and rehabilitate approximately 60
homes and 4 non-profit community facilities on Saturday, April 24th — <strong>and we need your help to make it happen.</strong>
</p><p>
We're looking for both skilled and unskilled workers, lunch drivers and photographers. Let us know if you can volunteer this year by clicking this link: <a href="http://rebuildingtogetherportland.org/e/<%= @pin%>"><span style="font-size: 16px;"><strong>Count Me In! I want to help.</strong></span></a>
</p><p>
When you sign up, be sure to enter your group name if you are planning on joining with a participating group.
Of course, if you have some friends that might be interested in a great volunteer experience, let us know and tell
them to sign up at our website <a href="http://www.RebuildingTogetherPortland.org">www.RebuildingTogetherPortland.org</a>
</p><p>
Thank you very much for your support and volunteerism.  We hope you'll join us on April 24th to help rebuild the
Portland community on our April National Rebuild Day. 
</p>
<p style="color: #60BB46;">
<strong>Mike Malone</strong><BR />
Executive Director <BR />
Rebuilding Together - Portland <BR />
5000 N. Willamette Blvd. <BR />
Portland, OR 97203 <BR />
 503-943-7515  office <BR /> 
 503-943 7322  fax  <BR />
MikeMalone@RebuildingTogetherPortland.org <BR />
www.rebuildingtogetherportland.org<BR />
</p>
<small>This email sent to <%= @email %>. To opt out of all future communications from Rebuilding Together Portland, <a href="http://www.rebuildingtogetherportland.org/contacts/optout">click here</a>.
</body></html>
