<html>
  <style>
    body { background-color: white;
	    font-family: arial;
	  }
    a,h1 { color: #60BB46; }
<body>
<h1>Call for Volunteers! April 25th is our big day!</h1>
<p>
Dear <%= @first %>,
</p><p>
<img src="http://rebuildingtogetherportland.org/images/RT_2Clogo_stacked_small.jpg" alt="Rebuilding Together Portland" style="float:right;" />
This year, Rebuilding Together-Portland's goal is to repair and rehabilitate approximately 60
homes and 4 non-profit community facilities on Saturday, April 24th — <strong>and we need your help to make it happen.</strong>
</p><p>
Let us know if you can volunteer this year by clicking this link:
</p><p>
<a href="http://rebuildingtogetherportland.org/e/<%= @pin%>"><span style="font-size: 14px;">Count Me In</style></a>
</p><p>
Of course, if you have some friends that might be interested in a great volunteer experience, let us know and tell
them to sign up at our website <a href="http://www.RebuildingTogetherPortland.org">www.RebuildingTogetherPortland.org</a>
</p><p>
Thank you very much for your support and volunteerism.  We hope you'll join us on April 24th to help rebuild the
Portland community on our April National Rebuild Day. 
</p>
<p style="color: #60BB46;">
Mike Malone <BR />
Executive Director <BR />
Rebuilding Together - Portland <BR />
5000 N. Willamette Blvd. <BR />
Portland, OR 97203 <BR />
 503-943-7515  office <BR /> 
 503-943 7322  fax  <BR />
MikeMalone@RebuildingTogetherPortland.org <BR />
www.rebuildingtogetherportland.org<BR />
</p>
<small>This email sent to <%= @email %>. To opt out of all future communications from Rebuilding Together Portland, <a href="http://www.rebuildingtogetherportland.com/contact/optout">click here</a>.
</body></html>