log/
log/*
config/database.yml
tmp/
tmp/*
*~
db/schema.rb
\#*\#
public/plogger/plog-content/uploads
public/plogger/plog-content/uploads/*
public/plogger/plog-content/images
public/plogger/plog-content/images/*

public/plogger/plog-content/thumbs
public/plogger/plog-content/thumbs/*

public/plogger/plog-config.php
