body{
  font-family: arial;
  margin: 10px;
  font-size: 1.1em;
  text-align:center;
}
.main{
  width:900px;
  text-align:left;
  margin:auto;
}

input,select
{
  font-size: 1.1em;
}

.contactform label
{
  float:left; 
  display: block;
  width: 155px;
}
.contactform ol
{
  list-style: none;
}
.contactform li
{
  clear:left;
  margin-bottom:10px;
}

/* Placeholder, used on manage/ page */
.manage-contacts-table  {
    margin: 0; padding: 0; 
}

/* Placeholder, used on manage/ page */
.manage-contacts-row-true {
    margin: 0; padding: 0;
}

/* Placeholder, used on manage/ page */
.manage-contacts-row-false {
    margin: 0; padding: 0;
}

/* Placeholder for manage/ page. Used in conjunction with manage-contacts-row-[true|false] */
.manage-contacts-row-last {
    padding: 0; margin: 0;
}

/* Placeholder, used on manage/ page */
.manage-contacts-col-true {
    padding: 0; margin: 0;
}

/* Placeholder, used on manage/ page */
.manage-contacts-col-false {
    padding: 0; margin: 0;
}

/* Placeholder for manage/ page. Used in conjunction with manage-contacts-col-[true|false] */
.manage-contacts-col-last {
    padding: 0; margin: 0;
}
