body{
  font-family: arial;
  margin: 10px;
  font-size: 1.1em;
  text-align:center;
}
main{
  width:900px;
  text-align:left;
  margin:auto;
}

input,select
{
  font-size: 1.1em;
}

.contactform label
{
  float:left; 
  display: block;
  width: 200px;
}

.contactform ol
{
  list-style: none;
}
.contactform li
{
  clear:left;
  margin-bottom:10px;
}

.manage-contacts-table table, th, tr, td{
    margin: 0; padding: 0; 
}

.manage-contacts-row-true {
    margin: 0; padding: 0;
}

.manage-contacts-row-false {
    margin: 0; padding: 0;
    background: lightgreen;
}

.manage-contacts-col-true {
    padding: 0; margin: 0;
}

.manage-contacts-col-false {
    padding: 0; margin: 0;
}
