    .eemStyleSFBody
    {
        padding: 0px;
        width: 100%;
        border: ridge 0px gray;
        background-color: #ffffff;
    }
    .eemStyleSFMainOuter
    {
        padding: 0px;
        width: 100%;
        border: ridge 0px gray;
    }
    .eemStyleSFMainInner
    {
        padding: 0px;
    }
    .eemStyleSFMain
    {
        width: 100%;
        background-color: #ffffff;
        color: #000000;
        font-family: Verdana;
    }
    .eemStyleSFCompletion
    {
        font-family: Verdana;
        font-size: small;
        color: green;
        font-weight: bold;
    }
    .eemStyleSFCompletion_BGIsRedish
    {
        font-family: Arial;
        font-size: small;
        Filter: glow(color=yellow, strength=3);
        color: green;
        font-weight: bold;
    }
    .eemStyleSFLogoDisplay
    {
    }
    .eemStyleSFLogoHide
    {
        display: none;
    }
    .eemStyleSFLogoOuter
    {
        padding: 0px;
        text-align: left;
        border: solid 0px green;
    }
    .eemStyleSFLogoInner
    {
        height: 100%;
        padding: 0px;
        background-color: Transparent;
        border: solid 0px green;
    }
    .eemStyleSFTitleOuter
    {
        padding: 0px;
        text-align: left;
        border: solid 0px green;
    }
    .eemStyleSFTitleInner
    {
        padding: 5px;
        background-color: Transparent;
        border: solid 0px gray;
    }
    .eemStyleSFTitle
    {
        font-size: larger;
        font-weight: bold;
    }
    .eemStyleSFErrorOuter
    {
        padding: 0px;
        text-align: left;
        border: solid 0px gray;
    }
    .eemStyleSFErrorInner
    {
        padding: 5px;
        background-color: Transparent;
        border: solid 0px gray;
    }
    .eemStyleSFError
    {
        color: Red;
        font-size: x-small;
        font-family: Verdana;
        font-weight: bold;
    }
    .eemStyleSFError_BGIsRedish
    {
        Filter: glow(color=yellow, strength=3);
        color: Red;
        font-size: x-small;
        font-family: Verdana;
        font-weight: bold;
    }
    .eemStyleSFContentOuter
    {
        padding: 0px;
    }
    .eemStyleSFContentInner
    {
        padding: 0px;
    }
    .eemStyleSFSectionQuestionOuter_Vertical
    {
        margin-bottom: 4px;
        padding: 0px;
        overflow: auto;
        border: solid 0px gray;
        width: auto;
        float: none;
    }
    .eemStyleSFSectionQuestionOuter_Horizontal
    {
        margin-bottom: 0px;
        padding: 0px;
        overflow: auto;
        border: solid 0px gray;
        width: 48%;
        float: left;
    }
    .eemStyleSFSectionIntGrpOuter_Vertical
    {
        padding: 0px;
        overflow: auto;
        border: solid 0px gray;
        width: auto;
        float: none;
    }
    .eemStyleSFSectionIntGrpOuter_Horizontal
    {
        padding: 0px;
        overflow: auto;
        border: solid 0px gray;
        width: 48%;
        float: right;
    }
    .eemStyleSFSectionHeadingInner
    {
        height: 100%;
        padding: 2px;
        border: solid 0px gray;
    }
    .eemStyleSFSectionHeading
    {
        padding: 5px;
        background-color: #ffffff;
        font-size: small;
        color: #000000;
        font-weight: bold;
    }
    .eemStyleSFSectionContent
    {
        padding: 5px;
    }
    .eemStyleSFIntGrpContent
    {
        padding: 5px;
        border: 1px solid #D9E1E8;
    }
    .eemStyleSFText
    {
        font-size: x-small;
        color: #000000;
    }
    .eemStyleSFTextDisabled
    {
        font-size: x-small;
        color: Gray;
        font-weight: bold;
    }
    .eemStyleSFReq
    {
        font-style: italic;
        font-size: x-small;
        vertical-align: baseline;
        color: Red;
        font-weight: bold;
    }
    .eemStyleSFReq_BGIsRedish
    {
        font-style: italic;
        font-size: x-small;
        Filter: glow(color=yellow, strength=3);
        vertical-align: baseline;
        color: Red;
        font-weight: bold;
    }
    .eemStyleSFReqError
    {
        background-color: Red;
    }

