<%
%>
<div style="clear:both;">
  <% form_tag :controller => 'manage', :action => 'house_captains' do %>
  <div style="float:left; width:300px;">
    <strong>Project: </strong><%= select_tag "query[project]", options_for_select([["Any", ""]] + project_options(), (@cond.project || Project.latest.id).to_s) %><BR />
    <strong>House: </strong> <%= select_tag "query[house]", options_for_select([["Any", ""]] + houses_for(Project.latest), @cond.house.to_s) %><BR />
    <strong>House Captain: </strong> <%= select_tag "query[house_captain]", options_for_select([["Any", ""]] + captains(), @cond.house_captain.to_s) %><BR />
  </div>
  <div style="clear:left;">
    <input type=submit name="query[filter]" value="Filter"></input>
    <input type=submit name="query[clear]" value="Clear"></input>
  </div>
  <% end %>
  </form>
</div>
<div style="clear:both;">&nbsp;</div>
