<div>
  <% form_tag :controller => 'manage' do %>
    <%= check_box_tag "query[unassigned]", "1", !! @query["unassigned"] %>    Not assigned to house
    <br />
    <%= check_box_tag "query[any_skills]", "1", !! @query["any_skills"] %> Any Skills
    Specific skills: <%= select_tag "query[skills]", options_for_select(Skill.all_skills, @query["skills"]), :multiple => true, :size => 3 %>
    <br />
    <%= check_box_tag "query[inactive]", "1", !! @query["inactive"] %>Include inactive
    <br />
    <input type=submit name="query[filter]" value="Filter"></input>
    <input type=submit name="query[clear]" value="Clear"></input>
  <% end %>
  </form>
</div>
