<em>Use the options below to list volunteers assigned to specific houses or captains.</em><BR /><BR />
<%= render(:partial => "captain_query.html.erb") %>
<h2>Assigned Volunteers</h2>
<%= render(:partial => "grid.html.erb") %>
<a href="<%= url_for :action => "download", :cond => @cond.to_param%>">Download these contacts</a>
