<%= render(:partial => "query.html.erb") %>
<%= 
   @grid.render_with do |conf|
     conf.accumulator = ""
     conf.records do |table|
       table.start do |state, records, acc|
         acc << %(<table class="manage-contacts-table">\n)
         acc << "\t<tr>" << render(:partial => "header.html.erb") << "</tr>"
         if records.length == 0
           acc << %(<tr><td colspan="#{@display_columns.length}">No result</td></tr>) 
         end
       end

       table.end do |state, records, acc|
         acc << %(\t<tr><td colspan="#{@display_columns.length}">) << 
             render(:partial => "pager.html.erb") << 
             %(</td></tr>) << "</table>\n\n"
       end
     end

     conf.record do |row|
       row.start do |state, records, record, acc|
         @which = ! @which
         acc << %(\t<tr class="manage-contacts-row-#{@which}">\n)
       end

       row.last do |state, records, record, acc|
         acc << %(\t<tr class="manage-contacts-row-#{!@which} manage-contacts-row-last">\n)
       end
   
       row.end do |state, records, record, acc|
         acc << "\t</tr>\n"
       end
     end

     conf.attribute do |cell|
       cell.start do |state, record, name, value, acc|
         acc << %(\t\t<td class="manage-contacts-col-#{@which}">#{value.blank? ? "&nbsp;" : h(value)}</td>\n)
       end

       cell.last do |state, record, name, value, acc|
         acc << %(\t\t<td class="manage-contacts-col-#{@which} manage-contacts-col-last">#{value.blank? ? "&nbsp;" : h(value)}</td>\n)
       end
     end
   end
%>
<a href="<%= url_for :action => "download", :cond => @cond.to_param%>">Download these contacts</a>
