<em>Select what you'd like to do
<ul>
  <li><%= link_to "Make Assignments", :action => 'assign_volunteers' %> &ndash; Assign volunteers to houses.</li>
  <li><%= link_to "Volunteer Search", :action => 'volunteer_search' %> &ndash; Find volunteers by name, phone number, etc.</li>
  <li><%= link_to "Assigned Volunteers", :action => 'house_captains' %> &ndash; Show volunteers assigned to particular homes or captains.</li>
</ul>
