<span style="color:red; font-weight:bold;"><%= flash[:message] %></span><BR />
<em>Select what you'd like to do
<ul>
  <li><%= link_to "Add a Project House", :action => 'add_edit_house' %> &ndash; Add a house to this year's project.</li>
  <li><%= link_to "List Project Houses", :action => 'list_houses' %> &ndash; List project houses.</li>
  <li><%= link_to "List Volunteers", :action => 'list_volunteers' %> &ndash; List volunteers for this year's project.</li>
</ul>
