<%
   @grid.rendering do |conf|
     conf.records do |table|
       table.start do |records|
         render(:partial => "query.html.erb") +
           %(<table class="manage-contacts-table">\n) + 
           @display_columns.inject("\t<tr>\n") do |acc, name|
             acc + "\t\t<th>" + case name 
               when "company"
                 "Company/Group"
               else
                 h(name.capitalize)
               end + "</th>\n"
           end + "\t</tr>\n" + if records.length == 0: %(<tr><td colspan="#{@display_columns.length}">No result</td></tr>); else "";
         end
       end

       table.end do |records|
         "</table>\n"
       end

       conf.record do |row|
         row.start do |records, record|
           @which = ! @which
           %(\t<tr class="manage-contacts-row-#{@which}">\n)
         end

         row.last do |records, record|
           %(\t<tr class="manage-contacts-row-#{!@which} manage-contacts-row-last">\n)
         end
   
         row.end do |records, record|
           "\t</tr>\n"
         end

         conf.attribute do |cell|
           cell.start do |record, name, value|
             %(\t\t<td class="manage-contacts-col-#{@which}">#{value.blank? ? "&nbsp;" : h(value)}</td>\n)
           end

           cell.last do |record, name, value|
             %(\t\t<td class="manage-contacts-col-#{@which} manage-contacts-col-last">#{value.blank? ? "&nbsp;" : h(value)}</td>\n)
           end
         end
       end
     end
   end
%>
<h1>Manage#index</h1>
<%= @grid.render %>
