<h2>Filter Contacts</h2>
<em>Use these optional selections to filter the contact list below</em><BR /><BR />
<%= render(:partial => "query.html.erb") %>
<h2>Contact List</h2>
<%= render(:partial => "grid.html.erb") %>
<a href="<%= url_for :action => "download", :cond => @cond.to_param%>">Download these contacts</a>
