<%
  def col_to_heading(col)
    case col
    when :address, :homeowner
      col.to_s.capitalize
    when :house_captain_1
      "House Captain #1"
    when :house_captain_2
      "House Captain #2"
    end
  end
%>
<%=

@grid.render_with do |conf|
  conf.accumulator = ""
  conf.records do |table|
    table.start do |state, records, acc|
      acc << %(<div id="#{@grid.name}"><table class="manage-houses-table">\n)
      if records.length == 0
        acc << %(<tr><td>No result</td></tr>) 
      else
        acc << %(<tr>\n) << @display_columns.inject("") { |row, col| row + %(\t\t<th class="manage-houses-header">) + h(col_to_heading(col.first)) + %(</th>\n) } << %(</tr>)
      end
    end
    
    table.end do |state, records, acc|
      acc << "</table></div>\n\n"
    end
  end

  conf.record do |row|
    row.start do |state, records, record, acc|
      @which = ! @which
      acc << %(\t<tr class="manage-houses-row-#{@which}">\n)
    end
    
    row.last do |state, records, record, acc|
      acc << %(\t<tr class="manage-houses-row-#{!@which} manage-houses-row-last">\n)
    end
    
    row.end do |state, records, record, acc|
      acc << "\t</tr>\n"
    end
  end
  
  conf.attribute do |cell|
    cell.start do |state, record, name, value, acc|
      acc << %(\t\t<td class="manage-houses-col-#{@which}">#{value.blank? ? "&nbsp;" : h(value)}</td>\n)
    end
    
    cell.last do |state, record, name, value, acc|
      acc << %(\t\t<td class="manage-houses-col-#{@which} manage-houses-col-last">#{value.blank? ? "&nbsp;" : h(value)}</td>\n)
    end
  end
end
%>
