<h1>Opt Out</h1>
We're sorry you are no longer interested in participating. If you wish to sign up again, we'd love to have you back on the team.
<BR /><BR />
<% unless flash[:message].blank? %>
  <span style="color: #F00; font-weight:bold;"><%= flash[:message] %></span>
  <BR /><BR />
<% end %>
  Please enter your email address to opt out of all future communications from Rebuilding Together Portland.
  <BR /><BR />
  <form action="/contacts/process_optout" method="post">
    <%= token_tag %>
    Email: <input type="textbox" name="email" /><input type="submit" value="Opt Out" />
  </form>

<BR /><BR />
In the meantime, if you'd like to get in touch, please feel free to contact us at:
<p>
  <h2>Contact Information</h2>
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />

Fax: 503-943-7322<BR />
MikeMalone@rebuildingtogetherportland.org<BR />
</p>

