<h1>Thanks, <%= @contact.first_name %></h1>
Your support is greatly appreciated. As we approach our next Rebuilding Day, expect to hear more about how to participate from us via email. 
<BR /><BR />
In the meantime, if you'd like to get in touch, please feel free to contact us at:
<p>
  <h2>Contact Information</h2>
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />

Fax: 503-943-7322<BR />
MikeMalone@rebuildingtogetherportland.org<BR />
</p>

