<h1>About Us</h1>
<p>
Rebuilding Together * Portland is a non-profit organization supported entirely by contributions of time, labor, materials, and money.  We are dedicated to repairing the homes of those who, due to financial hardship, age, and/or disability cannot do the work themselves.  Skilled and unskilled volunteers along with able-bodied members of the recipients' family and friends complete repairs  at
<strong>no cost to the homeowner.</strong>
</p>
<p>
To be eligible for consideration for 2011 the applicant must:
<ul>
  <li>Be the owner and occupant of the property
  <li>Be low income; elderly and/or disabled; families with children; veterans
  <li>Be unable both financially and physically to complete repairs themselves
  <li>Live in a property located in the City of Portland
</ul>
</p>
<p>
<strong>Each year Rebuilding Together Portland, screens approximately 150 low income homeowners</strong> and selects about 50-60 homes for
repair. In addition 5-8 non-profit organizations benefit on the workday and projects throughout the year. Rebuilding Together
Portland organizes 1,200-1,500 volunteers from all walks of life to unite on the last Saturday in April each year to complete
equivalent to $900,000 worth of improvements to the community on that day. Other individual projects are performed throughout
the year, but most of the work is done on the big day in April. These efforts are made possible with the help of a 20 member
working board, financial contributions and the efforts of over 1,300 volunteers.
</p>
<img src="/images/photos/0425RTP53.jpg" />
<p>
<strong>Homeowner safety and security are the first priorities</strong> of Rebuilding Together.
Our skilled and unskilled volunteers do all types of work including painting, plumbing, electrical, carpentry,
roofing, weatherization, yard cleaning, debris removal, and much more!  We do need the homeowners to understand
that time and weather may prevent these volunteers from accomplishing everything that the applicant would like done
to their home on <strong>our next workday, Saturday, April 24, 2010.</strong>
</p>
<p>
This is an annual "barn-raising" event designed to repair and rehabilitate the homes of low-income, elderly, and
disabled homeowners as well as selected community non-profit facilities. After a year of planning and preparation,
the program culminates in a one day "blitz" the last Saturday in April. The program has now expanded to include projects
not only on this day, but year-round as well.
</p>

<p>
<strong>Rebuilding Together is a nation-wide organization</strong> that, in partnership with the community, rehabilitates the homes of low-income
homeowners, particularly families with children and the elderly and disabled so that they can continue to live in warmth, safety
and independence. Rebuilding Together-Portland also assists in the rehabilitation of community centers, schools and non-profits.
</p>
<div>
<em>  
Check out the Rebuilding Together Twitter feed shown here to learn about activities in other cities.
</em>
<BR /><BR />
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'rebuilding together',
  interval: 6000,
  title: 'Twitter News',
  subject: 'Rebuilding Across the US',
  width: 550,
  height: 300,
  theme: {
    shell: {
      background: '#5fbb46',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
  }
}).render().start();
</script>
</div>
<div style="clear:both;">&nbsp;</div>
<p>
  <h2>Contact Information</h2>
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />
Fax: 503-943-7322<BR />
MikeMalone@rebuildingtogetherportland.org<BR />
</p>
<p>
<a href="/r/logos_page">Official Logos available for download</a>
</p>