<h1>Board of Directors</h1>
<h2>Board Officers</h2>
<table class="boardnames">
<TR><TD class="name">Scott Williams	</td><td>President 	</td><td>	Accenture</TD></TR>
<TR><TD class="name">Paul Luty 	</td><td>Vice President 	</td><td>	University of Portland - Physical Plant</TD></TR>
<TR><TD class="name">Brian Vetrone 	</td><td>Treasurer 	</td><td>	Hampton Affiliates</TD></TR>
<TR><TD class="name">Mike Malone 	</td><td>Executive Director 	</td><td>	Rebuilding Together*Portland</TD></TR>
<TR><TD class="name">Brian Thompson 	</td><td>Legal 	</td><td> 	Miller Nash LLP</TD></TR>
<TR><TD class="name">Kate Chavez 	</td><td>Secretary</td><td>The Richman Group Affordable Housing Corporation</TD></TR>
</table>

<h2>Board of Directors</h2>
<table class="boardnames">
<TR><TD class="name">Michael Desimone       </td><td>Key Bank</TD></TR>
<TR><TD class="name">Mark Easley 	</td><td>KEMA Consulting</TD></TR>
<TR><TD class="name">Valerie Ebinger</td><td><a href="http://corsource.net">CorSource Technology Group, Inc.</a></td></tr>

<TR><TD class="name">Mitch Falkenstein</td><td><a href="http://www.paramountequity.com">Paramount Equity Mortgage</a></td></tr>

<TR><TD class="name">Dan Gemme       </td><td><a href="http://turnerconstruction.com/portland/default.asp">Turner Construction</a></TD></TR>
<TR><TD class="name">Dave Lyons 	</td><td><a href="http://www.jdldev.com">JDL Development</a></TD></TR>
<TR><TD class="name">Ella Mills 	</td><td><a href="http://biellalighting.com">Biella Lighting Design</a></TD></TR>
<TR><TD class="name">Pat Olson 	</td><td>Standard Supply Company</TD></TR>
<TR><TD class="name">Deacon John Ries 	</td><td>St. Mary's Cathedral</TD></TR>
<TR><TD class="name">Joshua Siler</td><td><a href="http://www.bnj.com">Babcock & Jenkins</a></td></tr>
<TR><TD class="name">Emily Watson 	</td><td>Mediamerica</TD></TR>
<TR><TD class="name">Brandon Zabrocki 	</td><td>US Bank</TD></TR>
</table>
