<h1>Board of Directors</h1>
<h2>Board Officers</h2>
<table class="boardnames">
<TR><TD class="name">Scott Williams	</td><td>President 	</td><td>	BearingPoint, Inc.</TD></TR>
<TR><TD class="name">Paul Luty 	</td><td>Vice President 	</td><td>	University of Portland - Physical Plant</TD></TR>
<TR><TD class="name">Brian Vetrone 	</td><td>Treasurer 	</td><td>	Hampton Affiliates</TD></TR>
<TR><TD class="name">Mike Malone 	</td><td>Executive Director 	</td><td>	Rebuilding Together*Portland</TD></TR>
<TR><TD class="name">Brian Thompson 	</td><td>Legal 	</td><td> 	Newcomb, Sabin LLP</TD></TR>
</table>

<h2>Board of Directors</h2>
<table class="boardnames">
<TR><TD class="name">Kate Chavez 	</td><td>The Richmond Group</TD></TR>
<TR><TD class="name">Mark Easley 	</td><td>KEMA Consulting</TD></TR>
<TR><TD class="name">Jim Ferris 	</td><td>Red's Electric</TD></TR>
<TR><TD class="name">Jennifer Hughes </td><td>	Affinity Property Management</TD></TR>
<TR><TD class="name">Faye Koski 	</td><td>Dynalectric Company</TD></TR>
<TR><TD class="name">Dawn LaGood 	</td><td>Concero Technology</TD></TR>
<TR><TD class="name">Dave Lyons 	</td><td>JDL Development</TD></TR>
<TR><TD class="name">Ella Mills 	</td><td>Biella Lighting Design</TD></TR>
<TR><TD class="name">Pat Olson 	</td><td>Standard Supply Company</TD></TR>
<TR><TD class="name">John Ries 	</td><td>Deacon</TD></TR>
<TR><TD class="name">Rick Sovereign </td><td>	Sovereign Construction</TD></TR>
<TR><TD class="name">Emily Watson 	</td><td>Mediamerica</TD></TR>
<TR><TD class="name">Brandon Zabrocki 	</td><td>US Bank</TD></TR>
<TR><TD class="name">Lindie Burgess </td><td>	Student Assistant - University of Portland</TD></TR>
</table>