<h1>Homeowners</h1>
 <p>
 We rely on social service agencies, town offices, service organizations, churches, community groups, and individuals
 to help us identify homeowners in Portland in need of our assistance. <strong>Do you know an elderly person, somebody with a disability,
 or a working family who could use our help?</strong>
 Please review the information on this site and contact us with a completed Home Referral Form.
 </p><p>
<strong>All repairs are free for homeowners. </strong>Labor and many supplies are typically donated. Homeowners and family members are asked to welcome the volunteers into their homes and work alongside them to the extent possible. Our work is done with families and neighborhoods, not for them. A homeowner brochure is provided to clarify our process and partnership.
</p>
<img src="/images/photos/2.jpg" />
 <p>
Eligibility requirements include:
<ul>
  <li>Applicants must own and live in the property where repair work will be done.
  <li>Assist low income individuals whom are also elderly or disabled or with children
  <li>Be unable both financially and physically to effect repairs themselves
  <li>Applicants must be able to produce their mortgage payment book, deed, or other documents showing ownership, if requested.
  <li>The property is not subject to any pending foreclosure actions or actions to enforce liens.
  <li>Persons residing in your home or visiting on the designated workday who are physically able will work alongside the volunteers.
   <li>Be located on a property in the city of Portland.
</ul>
</p><p>
Ineligible homes include:
<ul>
  <li>Rental properties
  <li>Household income above federal poverty guidelines
</ul>
</p><p>
Homeowners are carefully selected through an application process which includes income thresholds and a home inspection.
Members of our House Selection Committees visit applicant homes to confirm eligibility and assess work that needs to be done.
While we complete major renovations &mdash; including upgrading electrical systems, and many other home
improvements &mdash; we narrow the scope of the work we undertake to what we believe a team of 10-50 skilled and unskilled
volunteers can accomplish in a day.
</p>
 <p>
The number of homes we work on is tied directly to the amount of money we can raise during the year.
The House Selection Committee selects the qualifying homes for each year. On average, we renovate more than 50 homes a year
from a list of about 150 homeowners. House Captains, generally skilled workers from sponsor groups select homes they
will champion and set up a detailed plan of work to be done at the home and is the primary contact for the homeowner
through completion of the work.
 </p>
 <p>
There are no promises that the work planned will actually be done. Weather, volunteer availability and other factors may affect the actual work completed. The House Captain will decide what work can and cannot be done on the day of work. If your home is chosen for the rehabilitation work, there will be NO charge for our service.
</p>
 <p>
  <a href="/forms/Homeowner Referral Form.pdf" style="font-size:1.4em;">Click Here to Download an Application</a>
 </p>
 <p>
  <h2>Contact Information</h2>
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />
Fax: 503-943-7322<BR />
<a href="mailto:MikeMalone@rebuildingtogetherportland.org">MikeMalone@rebuildingtogetherportland.org</a><BR />
</p>

