<h1>House Captains</h1>
 <p>House Captains are our project leaders, and help ensure that each and every project is a success on rebuilding day.
 If you are interested in becoming a House Captain, please contact <a href="mailto:MikeMalone@RebuildingTogetherPortland.org">Mike Malone at MikeMalone@RebuildingTogetherPortland.org</a></p>

 <p>If you've already signed up, <strong>thank you!</strong> The House Captain's role is a crucial element in making our program a success.  It is your skills, hard work and dedication that get our repair and rehabilitation work completed effectively and efficiently.  This role will be challenging and at the same time very rewarding.
 </p>
<p>
For more information, start here: <a href="/files/2011hcltter.doc">Letter to House Captains</a> (with 2011 schedule)
</p>
<h2>Resources for House Captains</h2>
<ul>
<li style="list-style-image: url(/images/icons/new.png);margin-bottom: 20px;"><em>Updated for 2011</em></li>
<% ["2011_campus_map.pdf",
"2011_guidelines_for_house_liaisons.doc",
"2011_hc_handbook_planning_ahead.doc.doc",
"2011_hc_handbook_the_work_day.doc.doc",
"2011_hc_orientation_agenda.doc",
"2011_hc_role_&_responsibilities.doc",
"2011_hc_volunteer_list_work_sheet.doc",
"2011_homeowner_agreement.doc",
"2011_homeowner_interview-house_inspection_sign_up.doc",
"2011_house_captain_evaluation.doc",
"2011_house_captains_reminder_lttr.doc",
"2011_house_caption_flow_chart_for_recruiting_volunteers.doc",
"2011_lead-safe_remodeling_procedures.doc",
"2011_lowes_order_form.pdf",
"2011_material_help.xls",
"2011_med_treatment_authorization_for_minor.doc",
"2011_safety_tool_box_talk_guidelines.doc",
"2011_scope_of_work.doc",
"2011_updated_volunteer_agreement_and_release.doc",
"2011_volunteer_estimate_form.doc",
"2011_volunteer_opportunities_form.doc",
"lowes_material_procedures_2011.doc",
"xmas_2011_hc_lttr.doc"].each { |item| 
	icon = "page_white"	
	if !item.index(".doc").nil?
		icon = "page_word"
	elsif !item.index(".xls").nil?
		icon = "page_excel"
	elsif !item.index(".pdf").nil?
		icon = "page_white_acrobat"
	end
		
%>

<li style="list-style-image: url(/images/icons/<%= icon %>.png);"><a href="/files/2011/<%= item %>">
	<% item.gsub("_"," ").gsub(".doc","").gsub(".pdf","").gsub(".xls","").gsub("2011","").split(" ").each { |word| %>
		<%= word.capitalize %>
<% } %></a></li>
<% } %>
</ul>

 <p>
  <h2>Contact Information</h2>
<strong>Dave Lyons, Committee Chairman</strong><BR />
Days - 503-248-2030 and evenings - 503-287-9915<BR />
Please confirm your attendance: <a href="dave@jdldev.com">Dave Lyons - dave@jdldev.com</a> or <a href="mailto:MikeMalone@RebuildingTogetherPortland.org">Mike Malone - MikeMalone@RebuildingTogetherPortland.org</a>
<BR /><BR />
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />
Fax: 503-943-7322<BR />
<a href="mailto:MikeMalone@rebuildingtogetherportland.org">MikeMalone@rebuildingtogetherportland.org</a><BR />
</p>
