<h1>House Captains</h1>
 <p>House Captains are our project leaders, and help ensure that each and every project is a success on rebuilding day.
 If you are interested in becoming a House Captain, please contact <a href="mailto:MikeMalone@RebuildingTogetherPortland.org">Mike Malone at MikeMalone@RebuildingTogetherPortland.org</a></p>
 
 <p>If you've already signed up, <strong>thank you!</strong> The House Captain's role is a crucial element in making our program a success.  It is your skills, hard work and dedication that get our repair and rehabilitation work completed effectively and efficiently.  This role will be challenging and at the same time very rewarding.  Please note the following important dates for your calendar.
 </p>

<p>This year's House Captain's meeting is mandatory attendance.  We are tightening up the time line in an effort to
increase efficiency within the organization and to minimize your time requirements.  For these goals to be
obtained we need you at the meeting.</p>
<p>The role of House Captain is old hat to some of you and we appreciate your continued participation.
And we still want you at this meeting, to meet the other House Captains and to learn of the new procedures.</p>
<style>
table
{

	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 2px solid #888;
	width: 650px;
}
table td
{ 
	padding: 6px;
	margin: 0px;
	font-size: 12px;
	vertical-align:top;
 	border-bottom: 1px solid #000;
 }

</style>
<table>
<tr><td><strong>March 3	5:30pm</strong></td>
 <td>Room 319, Shiley Hall on the University of Portland campus (look fo r the signs).  This will be our only House Captain meeting.
 We will be explaining the new procedures regarding material lists and time lines.  <strong>House selection will take place at this meeting.</strong>
</td></tr>
<tr><td><strong>March 22</strong></td>
 <td>	Have house inspection completed.
</td></tr>
<tr><td><strong>April 2</strong></td>
 <td>	Notify Rebuilding Together * Portland with the number of volunteers that you have, or the number of skilled and unskilled volunteers that you need.
</td></tr>
<tr><td><strong>April 2</strong></td>
 <td>	Material list must be in by this date.  It's extremely important to the process of material gathering that the lists get back to us on time.
</td></tr>
<tr><td><strong>April 17</strong></td>
 <td>	Skilled labor and prep day.  This day has been scheduled to accommodate large jobs where more than one stage of work needs to take place, or where power washing and prepping need to be done prior to the 24th.
</td></tr>
<tr><td><strong>April 24</strong></td>
 <td>	It's ShowTime!  Rebuilding Together * Portland workday!
</td></tr>
<tr><td><strong>April 30</strong></td>
 <td>	Evaluations are due back at head quarters.  House Captains must communicate whether or not all of the work started was completed.  If it has not, please confirm what arrangements have been made for completion.
</td></tr>
</table>

<p>If you have any questions please feel free to call the numbers listed below or call our Rebuilding Together * Portland office at 943-7515.
</p><p>We continue to look for additional people to fill the role of House Captain, if you know of someone qualified and interested please ask them to call our office to get involved this year.
</p><p>Thank you again for your interest and willingness to participate in this important endeavor.  As a Rebuilding Together * Portland House Captain this year, you will be joining over 1,500 other individuals around the Portland area, helping make this local and national program a success.  We simply could not accomplish this work without the support and volunteerism of organizers like you.

</p>


 <p>
  <h2>Contact Information</h2>
<strong>Dave Lyons, Committee Chairman</strong><BR />
Days - 503-248-2030 and evenings - 503-287-9915<BR />
Please confirm your attendance: <a href="dave@jdldev.com">Dave Lyons - dave@jdldev.com</a> or <a href="mailto:MikeMalone@RebuildingTogetherPortland.org">Mike Malone - MikeMalone@RebuildingTogetherPortland.org</a>
<BR /><BR />
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />
Fax: 503-943-7322<BR />
<a href="mailto:MikeMalone@rebuildingtogetherportland.org">MikeMalone@rebuildingtogetherportland.org</a><BR />
</p>

