<h1>Welcome to Rebuilding Together Portland</h1>
 Rebuilding Together * Portland is a non-profit organization supported entirely by contributions of time, labor, materials, and money.
		    We are dedicated to repairing the homes of those who, due to financial hardship, age, and/or disability cannot do the work themselves.
		    Skilled and unskilled volunteers, along with able-bodied members of the recipients' family and friends, complete repairs  at no cost to the homeowner.
		    <BR /><BR />
		    <strong>Free home repairs</strong> are available for low-income homeowners. <a href="<%= url_for :controller => :mainsite, :action => :homeowners_page %>">Learn more</a>
		    <BR /><BR />
		    We will be celebrating our 20th year on April 24, 2010.  Our goal is to repair and rehabilitate over 50 homes and non-profit community facilities.
		    <BR /><BR />
		    <a href="<%= url_for :controller => :contacts, :action => :new%>">Sign up today</a> and join our 1500 strong volunteer workforce on <strong>Rebuilding Day 2010</strong>!
		    <BR /><BR /><BR /><BR />
		    A few of our sponsors:<BR /><BR />
		    <img src="/images/logo-sample.gif" alt="Sponsor logos" />
		    <img alt="Cricket Wireless" src="/images/cricketwireless.gif" />
