<h1>Welcome to Rebuilding Together Portland</h1>
 Rebuilding Together * Portland is a non-profit organization supported entirely by contributions of time, labor, materials, and money.
		    We are dedicated to repairing the homes of those who, due to financial hardship, age, and/or disability cannot do the work themselves.
		    Skilled and unskilled volunteers, along with able-bodied members of the recipients' family and friends, complete repairs  at no cost to the homeowner.
		    <BR /><BR />
		    <strong>Free home repairs</strong> are available for low-income homeowners. <a href="<%= url_for :controller => :mainsite, :action => :homeowners_page %>">Learn more</a>
		    <BR /><BR />
		    We just celebrated our 20th year on April 24, 2010.  Our goal was to repair and rehabilitate over 50 homes and non-profit community facilities, and by every measure the day was a success!
		    <BR /><BR />
		    <a href="/plogger/index.php">We have some great photos</a> from this year's project day. Thanks to the photographers that volunteered their time to help us show off.<BR /><BR />
		    <img src="/images/photos/_DSC0393.JPG" />
		    <img src="/images/photos/128group.JPG" />
		    <BR /><BR />
		    A few of our sponsors:<BR /><BR />
		    <img src="/images/logo-sample.gif" alt="Sponsor logos" style="margin-left:150px;" />
		    <img alt="Cricket Wireless" src="/images/cricketwireless.gif" />
<h2>Recent Projects</h2>
<a href="http://www.mtscottlearningcenters.org/CultivatingMinds.htm">Cultivating Minds</a> <small>with
  <a href="http://www.handsonportland.org/">Hands On Portland</a> and <a href="http://www.mycricket.com/portland">Cricket Wireless</a></small>
 
