		    <div style="width:280px;float:right;"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Rebuilding-Together-Portland/116920291734473" width="292" show_faces="true" border_color="" stream="false" header="true"></fb:like-box>
<BR />
<div style="width:200px;border: 1px solid #555;padding:10px; margin: 10px;font-size:12px;text-align:center;">
<strong>Interested in making a donation?</strong> You can make a real difference for homeowners in need. Click the button below to donate via Paypal.<BR />
<BR />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NXLK47HQCDWMY">
<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
</form> </div>
</div>
<h1>Welcome to Rebuilding Together Portland</h1>

 Rebuilding Together * Portland is a non-profit organization supported entirely by contributions of time, labor, materials, and money.
		    We are dedicated to repairing the homes of those who, due to financial hardship, age, and/or disability cannot do the work themselves.
		    Skilled and unskilled volunteers, along with able-bodied members of the recipients' family and friends, complete repairs  at no cost to the homeowner.
<BR /><BR />
<!-- 
<strong>Please join us!</strong> This year's work day is coming up on Saturday, April 30, 2011.  
<a href="/contacts/new">Sign up to volunteer</a> to help a homeowner in need of repairs.  The day starts at 8:00am and is truly a valuable experience.
<BR /><BR />
-->
Check out the new <a href="http://www.rebuildingtogether.org/content/multimedia/detail/7788/">Rebuilding Together PSA</a> with Morgan Freeman.
		    <BR /><BR />
		    <strong>Free home repairs</strong> are available for low-income homeowners. <a href="<%= url_for :controller => :mainsite, :action => :homeowners_page %>">Learn more</a>
		    <BR /><BR />
		    We celebrated our 21st year on April 30, 2011.  Our goal was to repair and rehabilitate over 50 homes and non-profit community facilities, and by every measure the day was a success!
		    <BR /><BR />
		    <a href="/plogger/index.php">We have some great photos</a> from last year's project day. Thanks to the photographers that volunteered their time to help us show off. 
<BR /><BR />
Also, a great quote from one of our project homeowner's family:<BR /><BR/>
<em>"I don't know how to put into words how much I want to thank everyone that helped on the house. It was a great experience for all of us, I think, and it definitely inspired me to go out and help others." </em>
<BR /><BR/> 
<a href="http://4-24-10.blogspot.com/2010/05/dear-portland-rebuilding-together.html">Check out the full blog post</a> and a big thank you from one of the homeowners we helped out April 2010!.<BR />
<BR /><BR />
		    <img src="/images/photos/_DSC0393.JPG" />
		    <img src="/images/photos/128group.JPG" />
		    <BR /><BR />
		    A few of our sponsors:<BR /><BR />
		    <img src="/images/logo-sample.gif" alt="Sponsor logos" style="margin-left:150px;" />
		    <img alt="Cricket Wireless" src="/images/cricketwireless.gif" />
<h2>Recent Projects</h2>
<a href="http://www.mtscottlearningcenters.org/CultivatingMinds.htm">Cultivating Minds</a> <small>with
  <a href="http://www.handsonportland.org/">Hands On Portland</a> and <a href="http://www.mycricket.com/portland">Cricket Wireless</a></small>
 
