<h1>Non-Profits</h1>
<p>
<strong>Free facility repairs available for Non-Profits.</strong> It's Rebuilding Together Portland to the rescue!
</p><p>
Since 1990 Rebuilding Together Portland has been realizing ambitious annual goals to repair and rehabilitate both homes and non-profit community facilities. While more than 50 homes are worked on each year, Rebuilding Together Portland also helps five or six non-profits each year with free facility repairs. Rebuilding Together Portland matches coordinates projects year-round, but most of the work is done on the last Saturday in April each year by more than a thousand volunteers on that one day.
</p><p>
Rebuilding Together is a non-profit organization supported entirely by contributions of time, labor, materials, and money. Our core competencies include identifying worthy homeowners and non-profits in need and matching them with volunteers, supplies and materials. Rebuilding Together Portland coordinates skilled and unskilled volunteers and materials needed to complete the work in a day or two. We are always looking for good projects at non-profit properties where volunteers will enjoy and appreciate their contribution.
</p><p>
To be eligible for consideration, the applicant's property must:
<ul>
    <li>Be the owner and occupant of the property
    <li>Assist low income individuals whom are also elderly or disabled or with children
    <li>Be unable both financially and physically to effect repairs themselves
    <li>Be located on a property in the city of Portland.
</ul>
</p><p>
Safety and security are the first priorities of Rebuilding Together. Our skilled and unskilled volunteers do all
types of work including painting, plumbing, electrical, carpentry, weatherization, yard cleaning,
debris removal, and much more!
</p><p>
When a project is accepted, a scope of work is defined in advance, but the non-profit organization and homeowners
need to understand these are volunteers and that time and weather may prevent them from
accomplishing everything planned to be completed.
</p><p>
To become eligible for assistance, fill out our Non-profit Referral Form.
</p>
 <p>
  <a href="/forms/2012/Non-ProfitReferralForm12.doc" style="font-size:1.4em;">Click Here to Download an Application</a>
 </p>
 <p>
  <h2>Contact Information</h2>
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />
Fax: 503-943-7322<BR />
<a href="mailto:MikeMalone@rebuildingtogetherportland.org">MikeMalone@rebuildingtogetherportland.org</a><BR />
</p>
