<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Rebuilding Together Portland</title>
    <link href="/stylesheets/public.css" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag :defaults %>
  </head>
    <body>
	<div id="containerOuter">
	    <div id="container">
		<img src="/images/painter.jpg" alt="House painter on ladder." style="float:left;" />
		<img src="/images/big-logo.png" alt="Rebuilding Together Portland logo." style="margin-left: 125px; margin-top: 35px;" />
		<div style="clear:both;font-size:0em;">&nbsp;</div>
		<div id="nav">
		    <a href="/">Home</a>
		    <a href="/r/about_page">About Us</a>
		    <a href="<%= url_for :controller => :contacts, :action => :new%>">Volunteer</a>
				<a href="/r/house_captains">House Captains</a>
		    <a href=/r/homeowners_page>Homeowners</a>
		    <a href="/r/nonprofits_page">Non-Profits</a>
		    <a href="/r/board_page">Board of Directors</a>
		</div>
		<div id="content">
		    
		   <%= yield %>
		
		</div>
		<div id="footer">
		    Rebuilding Together Portland, &copy; 2010
		</div>
	    </div>
	</div>
<% if RAILS_ENV=="production" %>
	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12635422-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end %>
  </body>
</html>
