<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Rebuilding Together Portland</title>
    <link href="/stylesheets/public.css" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag :defaults %>
    <style>
      .manage-contacts-table {
	font-size: .8em;
	padding: 10px;
	border-collapse: collapse; 
      }
      
      .manage-contacts-table td {
	margin: 0px;
	padding: 4px;
      }
      
      .manage-contacts-pager {
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	color: #60bb46;
      }
      
      .manage-contacts-pager a
      {
	font-size: .8em;
	margin-left: 5px;
	margin-right: 5px;
	color: #60bb46;
      }
      
      .manage-contacts-row-true {
	background-color: #FFF;
      }
      .manage-contacts-row-false {
	background-color: #DDD;
      }
      

    </style>
  </head>
    <body>
	<div id="containerOuter">
	    <div id="container">
		<img src="/images/big-logo.png" alt="Rebuilding Together Portland logo." style="margin-left: 15px; margin-top: 15px;" />
		<div style="clear:both;font-size:0em;">&nbsp;</div>
		<div id="nav">
		    <span style="color:#F00;">Management Interface</span>
		    <a href="/manage">Admin Home</a>
    	    &nbsp;
		    <a href="/">Main Site</a>
		</div>
		<div id="content">
		    
		   <%= yield %>
		
		</div>
		<div id="footer">
		    Rebuilding Together Portland, &copy; 2010
		</div>
	    </div>
	</div>
  </body>
</html>
